<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5864712699-kr3758186fmuubm4ecaik3ptd01dmden.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5864712699-kr3758186fmuubm4ecaik3ptd01dmden</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>5864712699-qo01q5ra6c9mqvo981mhflfmasc5tr0l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBeLaVFApstDlAaO-VncKpCYjtZhLsB_E</string>
	<key>GCM_SENDER_ID</key>
	<string>5864712699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SocialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-a2aee</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-a2aee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5864712699:ios:e30179750b99b69cb5435e</string>
	<key>DATABASE_URL</key>
	<string>https://social-app-a2aee-default-rtdb.firebaseio.com</string>
</dict>
</plist>